ul.spot-list {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-bottom:30px;
    margin-left: 20px;
}

ul.spot-list li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul.spot-list li header {
    max-width: 270px;
    width: 270px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 8px; 
}

ul.spot-list li strong{
    margin-top: 10px;
    font-size: 14px;
    color: #444;
}

ul.spot-list li span{
    font-size: 15px;
    color: #999;
}

.title {
    width: 100%;
    background-color: #ff002b;
    color: #ffffff;
    margin-bottom: 10px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;

}